
<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<body class="container">
    <div class="jumbotron text-center">
        <img src="https://coin.top/production/upload/logo/1003886.png?t=1617948485847">
        <h1>REG YIELD FARMING</h1>
      </div>
    <div class="row">
    <a href="<%= PP %>/">Home</a> 
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <b>Synthetix:</b>
                <a href="<%= PP %>/synthetix/susd/">sUSD</a> ,
                <a href="<%= PP %>/synthetix/ieth/">iETH</a> ,
                <a href="<%= PP %>/synthetix/sBTC/">sBTC</a> ,
                <a href="<%= PP %>/synthetix/ibtc/">iBTC</a> </li>
            <li class="list-group-item">
                <b>yearn:</b>
                <a href="<%= PP %>/yearn/ygov2/">governance</a>,
                <a href="<%= PP %>/yearn/vote/">proposals</a>, 
                <a href="<%= PP %>/yearn/yvault/">yvault</a></li>
            <li class="list-group-item">
                <b>mStable:</b>
                <a href="<%= PP %>/mstable/usdc">mUSD-USDC</a>, 
                <a href="<%= PP %>/mstable/weth">mUSD-WETH</a>, 
                <a href="<%= PP %>/mstable/mta">mUSD-MTA (20-80)</a>, 
                <a href="<%= PP %>/mstable/mta_5">mUSD-MTA (95-5)</a>,
                <a href="<%= PP %>/mstable/weth_uniswap">MTA-WETH</a></li>
            <li class="list-group-item">
                <b>UMA:</b>
                <a href="<%= PP %>/uma/yusd">yUSD-USDC</a> </li>
            <li class="list-group-item">
                <b>yfii:</b>
                <a href="<%= PP %>/yfii/ycrv/">yCRV</a>, 
                <a href="<%= PP %>/yfii/yfii_dai/">YFII-DAI</a> </li>
            <li class="list-group-item">
                <b>cream:</b>
                <a href="<%= PP %>/cream/balancer/">balancer</a>, 
                <a href="<%= PP %>/cream/uniswap/">uniswap</a></li>
        </ul>
    </div>
</body>